body {
    background-image: 
        linear-gradient(rgba(242,194,206, 0.5), rgba(242,194,206, 0.5)), 
        url(https://images6.alphacoders.com/113/1136183.png);
    background-size: cover;
}


.video{
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo{
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px #f2c2ce;
}

.fundo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filmes{
    position: absolute;
    top: 82%;
    left: 30%;
    transform: translate(-50%, -50%);

}
